@require '../../shared.styl'

.result
  p
    font-weight: 400
    text-align: center
    font-size: 24px
    margin-bottom: 0

.close
  p
    font-weight: 700

.repWin
  p
    color: rep-red

.demWin
  p
    color: dem-blu
