.container
  .row
    .col-xs-12
      h1 What state do you live in?
  select#state-picker
    option Select a state...
    each state in states
      option(value=state.slug)= state.name

  #states
    each state in states
      .row(id='state-' + state.slug)
        .col-xs-12
          h1= state.name
          each row in state.history
            p=row.year
